*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
}

.conteiner {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	
	background-color: #1e656d;
	
}

.nav {
	
}


.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 20px;
	line-height: 70px;
}

.nav-item {
	margin-right: 20px;
}

.nav-link {
	color: #fff;
	font-size: 18px;
	transition: color 0.5s;
}

.nav-link:hover {
	color: rgb(159, 159, 154);
}
.main {
	background-color: #f1f3ce;
	color: #445161;
}

.section {
	display: flex;
	padding: 30px;
	
	
}

.section-img {
	box-shadow:  3px 1px 3px 5px rgb(201, 184, 184);
}
.section-profile {
	margin-left: 50px;
}
.section-title {
	margin-bottom: 7px;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}
.section-job {
	font-size: 22px;
	text-indent: 442px;
	margin-bottom: 20px;
}

.box-profile {
	display: flex;
	font-size: 18px;
	line-height: 30px;
}

.section-aboutme {
	margin-right: 40px;
	
}
.title {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 7px;
}
.text-aboutme {
	
	text-align: justify;
}

.section-contacts {
	
}

.list-contacts {
	
}


.contacts-phone {
	background: url(./img/icon/phone.ico) left no-repeat;
	padding-left: 30px;
}

.contacts-email {
	background: url(./img/icon/email.ico) left no-repeat;
	padding-left: 35px;
}

.contacts-telegram {
	background: url(./img/icon/telegram.ico) left no-repeat;
	padding-left: 35px;
}

.contacts-telegram a {
	color: rgb(77, 136, 238);
}

.contacts-telegram a:hover {
	color: #1e656d;
	transition: color 0.5s;
	
}

.contacts-github {
	background: url(./img/icon/github.ico) left no-repeat;
	padding-left: 35px;
}






.footer {
	border: 2px solid red;
}

